---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contacto">
    <section class="px-6">
        <h1 class="text-xl sm:text-2xl md:text-4xl font-bold mb-6 text-center">Comunícate con nosotros</h1>
        <form>
            <div class="mb-6">
                <label for="name" class="block mb-2 text-lg font-semibold text-gray-900">Nombre</label>
                <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
            </div>
            <div class="mb-6">
                <label for="email" class="block mb-2 text-lg font-semibold text-gray-900">Correo electrónico</label>
                <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="nombre@gmail.com" required>
            </div>
            <div class="mb-6">

                <label for="message" class="block mb-2 text-lg font-semibold text-gray-900">Déjanos tu mensaje</label>
                <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="¿Qué necesitas?"></textarea>

            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-semibold rounded-lg text-lg w-full sm:w-auto px-5 py-2.5 text-center">Enviar</button>
        </form>  
    </section>
</Layout>