---
import heroImg from "../assets/view1.png";
import { Image } from "astro:assets";
---
<section>
    <div class="overflow-hidden shrink-0 w-full h-auto md:h-96 px-6">
        <Image class="object-cover w-full h-full rounded aspect-[2000/1500]" src={heroImg} alt="Dios Proveera Edificio" quality={"low"}>
    </div>
    <section>
        <div class="flex items-center justify-center px-6 pt-12">
            <div class="w-full text-center">
                <h2 class="text-center font-bold uppercase text-sm sm:text-xl md:text-4xl">ganando almas para cristo en waller</h2>
                <div class="flex items-center justify-center space-x-2">
                    <span class="text-xs sm:text-lg md:text-2xl font-bold uppercase mt-2"> <span class="underline underline-offset-4 decoration-slate-700">domingo</span> general 11:00  am </span> <span class="text-sm md:text-2xl font-semibold">|</span> <span class="text-xs sm:text-lg md:text-2xl font-bold uppercase mt-2"><span class="underline underline-offset-4 decoration-slate-700">viernes</span> de oración 7:00 pm</span>
                </div>
            </div>
        </div>
    </section>
</section>