---
import heroImg from "../assets/view1.png";
import { Image } from "astro:assets";
---
<section>
    <div class="overflow-hidden shrink-0 w-full h-auto md:h-96 px-6">
        <Image class="object-cover w-full h-full rounded aspect-[4032/3024]" src={heroImg} alt="Dios Proveera Building" quality={"mid"}>
    </div>
    <section>
        <div class="flex items-center justify-center px-6 pt-12">
            <div class="w-full text-center">
                <h2 class="text-center font-bold uppercase text-lg sm:text-xl md:text-4xl">ganando almas para cristo en waller</h2>
                <div class="flex items-center justify-center space-x-2">
                    <span class="text-sm sm:text-lg md:text-2xl font-bold uppercase mt-2 text-blue-900">domingo 11:00  am </span> <span class="text-base md:text-2xl font-semibold">|</span> <span class="text-sm sm:text-lg md:text-2xl font-bold uppercase mt-2 text-blue-900">viernes de oración 7:00 pm</span>
                </div>
            </div>
        </div>
    </section>
</section>