<nav>
    <div class="flex items-center justify-between py-5 px-6">
        <div class="flex items-center">
            <span class="font-bold text-base sm:text-lg md:text-3xl mr-2"> <a href="/">Iglesia Bautista Dios Proveera</a></span>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cross-filled" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M10 2l-.117 .007a1 1 0 0 0 -.883 .993v4h-4a1 1 0 0 0 -1 1v4l.007 .117a1 1 0 0 0 .993 .883h4v8a1 1 0 0 0 1 1h4l.117 -.007a1 1 0 0 0 .883 -.993v-8h4a1 1 0 0 0 1 -1v-4l-.007 -.117a1 1 0 0 0 -.993 -.883h-4v-4a1 1 0 0 0 -1 -1h-4z" stroke-width="0" fill="currentColor"></path>
             </svg>
        </div>
        <div class="space-x-3 font-bold text-xl hidden md:block">
            <span><a href="/" class="transition delay-200 duration-300 hover:text-blue-900">Inicio</a></span>
            <span><a href="/blog" class="transition delay-200 duration-300 hover:text-blue-900">Noticias</a></span>
            <span><a href="#" class="transition delay-200 duration-300 hover:text-blue-900">Contacto</a></span>
        </div>
    </div>
</nav>