---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Navbar2 from "../components/Navbar2.astro";
export interface Props {
	title?: string
	desc?: string
}
export const headline = "Iglesia Bautista Dios Proveera";
const {title = `New Page - ${headline}`, desc = "Default description of a page"} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content={desc}>
	<meta property="og:title" content="Iglesia Bautista Dios Proveera"/>
	<meta property="og:description" content="Sitio oficial de la Iglesia Bautista Dios Proveera en Waller, TX"/>
	<meta property="og:url" content="https://iglesiadiosproveera.com/"/>
	<meta property="og:image" content="https://raw.githubusercontent.com/Alvarado08/dios-proveera/main/public/noticias-hero-img/congregacion2.jpg"/>
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="iglesiadiosproveera.com">
	<meta property="twitter:url" content="https://iglesiadiosproveera.com">
	<meta name="twitter:title" content="Iglesia Bautista Dios Proveera">
	<meta name="twitter:description" content="Sitio oficial de la Iglesia Bautista Dios Proveera en Waller, TX">
	<meta name="twitter:image" content="https://raw.githubusercontent.com/Alvarado08/dios-proveera/main/public/noticias-hero-img/congregacion2.jpg">
	<link rel="icon" href="/cross.png" type="image/x-icon">
	<title>{title}</title>
</head>
<body>
	<!-- <Navbar/> -->
	<Navbar2/>
	<div class="min-h-screen">
		<slot/>
	</div>
	<Footer/>
</body>
</html>